* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  background: #25b99a;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 10px;
  z-index: 0;
  display: inline-block;
}

header h3 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 400px;
  text-indent: 20px;
  color: #e4eeeb;
  text-align: center;
  padding: 10px 0px 10px -10px;
}

header #panel-principal {
  width: 100%;
  height: 200px;
  background-color: #e8e8e8;
  font-family: "Oswald", sans-serif;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header #x-btn {
  margin-top: 30px;
  width: 150px;
  height: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: #25b99a;
}

header #o-btn {
  margin-top: 30px;
  width: 150px;
  height: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: #25b99a;
  margin-left: 40px;
}

header #reiniciar-juego-btn {
  margin-top: 30px;
  width: 150px;
  height: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: #25b99a;
  margin-left: 40px;
}

header #x-btn:hover {
  background-color: #ff4646;
}

header #o-btn:hover {
  background-color: #e4eeeb;
}

header #reiniciar-juego-btn:hover {
  background-color: aqua;
}

header h2 {
  margin: 30px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 0px;
}

main table,
td {
  border: 3px solid black;
  align-items: center;
}

main table,
tr {
  align-items: center;
}

main table {
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
}

.btnXBackground {
  background-image: url("/resources/assets/x_96_red.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btnOBackground {
  background-image: url("/resources/assets/circle_96_gray.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* mensajes de turnos */
.none {
  display: none;
}

.mensaje-turno-x {
  margin-top: -1rem;
  font-size: 90%;
  color: #ff4646;
  transition: all 800ms ease;
  font-weight: 400%;
  font-family: "Pattaya", sans-serif;
  animation: show-message 5s 1 normal 0s ease-out both;
}

.mensaje-turno-o {
  margin-top: -1rem;
  font-size: 90%;
  color: #25b99a;
  transition: all 800ms ease;
  font-weight: 400%;
  font-family: "Pattaya", sans-serif;
  animation: show-message 5s 1 normal 0s ease-out both;
}

@keyframes show-message {
  100% {
    visibility: hidden;
    opacity: 1;
  }
}

.mensaje-ganador-x {
  margin-top: -1rem;
  font-size: 90%;
  color: #ff4646;
  transition: all 800ms ease;
  font-weight: 400%;
  font-family: "Pattaya", sans-serif;
  animation: show-message 5s 1 normal 0s ease-out both;
}

.mensaje-ganador-o {
  margin-top: -1rem;
  font-size: 90%;
  color: #25b99a;
  transition: all 800ms ease;
  font-weight: 400%;
  font-family: "Pattaya", sans-serif;
  animation: show-message 5s 1 normal 0s ease-out both;
}

.mensaje-empate {
  margin-top: -1rem;
  font-size: 90%;
  color: #03554B;
  transition: all 800ms ease;
  font-weight: 400%;
  font-family: "Pattaya", sans-serif;
  animation: show-message 5s 1 normal 0s ease-out both;
}

.reiniciar {
  margin-top: 30px;
  width: 150px;
  height: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: #25b99a;
}
